if BOARD_M5STACK_ATOMS3

config BOARD
    default "m5stack_atoms3"

config SOC_SERIES
    default "esp32s3"

config SOC
    default "esp32s3"

# AtomS3 has no PSRAM; use 8MB internal flash only
config FLASH_SIZE
    default 0x800000

config ESP32_PHY_MAX_WIFI_TX_POWER
    default 20

endif # BOARD_M5STACK_ATOMS3
