CONFIG_SOC_SERIES_ESP32S3=y
CONFIG_SOC_ESP32S3=y
CONFIG_BOARD_M5STACK_ATOMS3=y

# ESP32-S3 dual core: run NFC on core 0, UI on core 1
CONFIG_MP_MAX_NUM_CPUS=2
CONFIG_SMP=y

# 240 MHz
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=240000000

# USB native CDC (no external UART chip on AtomS3)
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_CDC_ACM=y
